<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
</head>
<body>

    <!-- Todo form -->
    <div class="container">
        <form action="" method="POST" class="form-group">
            <input type="text" name="todo" id="todo">
            <input type="submit" value="Add">
        </form>
    </div>

    <!-- Todo-list -->
    <div class="todo-list">
        <ol>
        <% todos.forEach(todo => { %>
          
                <li><%= todo.todo %>||<a href="todo/<%= todo._id %>">delete</a></li>
                    
        <% }); %>
    </ol>
    </div>
    
</body>
</html>